@import url('bootstrap.min.css');

body {
    font-size: 1.2rem;
}

h1 {
    margin: 30px 0;
}

h2, h3, h4 {
    margin: 15px 0;
    color: #333;
}

body p {
    color: #444;
}

#header {
    border-bottom: 1px solid #f1f1f1;
}

#main {
    min-height: 500px;
}

.slug-field {
    width: 50%;
    padding: 10px;
}

#main img {
    max-width: 100%;
}

@media only screen and (min-width: 769px) {
    #main img {
        max-width: 500px;
        display: block;
        margin: 0px auto;
     
    }
}
img[src*="#blog-image"] {
    display: block; 
    margin: 0px auto;
}

#main blockquote {
    padding: 20px 30px;
    margin: 2rem 0;
    font-style: italic;
    background: #f1f1f1;
    overflow-x: auto;
}

#main blockquote p {
    margin-bottom: 0rem !important;
}